* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  place-items: center;
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #357af3 0%, #225be4 100%);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  position: relative;
  display: grid;
  overflow-x: hidden;
  align-content: center;
}

form,
form > div {
  display: flex;
  flex-direction: column;
}

form {
  background: white;
  padding: 2rem;
  max-width: 90dvw;
}

form,
select,
input,
button {
  border-radius: 1rem;
}

form > p {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.65);
}

label {
  color: rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

form > div {
  margin-bottom: 2rem;
  gap: 0.5rem;
}

select,
input {
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

select,
input,
button {
  padding: 1rem;
  font-family: inherit;
}

label,
button {
  font-weight: bold;
}

button {
  border: none;
  background: linear-gradient(to right, #357af3 0%, #225be4 100%);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

select {
  background: inherit;
}

select:focus,
input:focus {
  outline-color: #357af3;
}

option {
  background-color: rgb(from var(--my-color) r g b / 0.4);
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0 0 0 / 0.7);
}

button:hover {
  transform: scale(1.05);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: none;
}

.pokemon-card-container {
  width: 300px;
  height: 462px;
  perspective: 600px;
}

.abs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotation-angle, 0deg));
  transform-origin: center 500px;
}

.pokemon-card {
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1.8);
  transform-style: preserve-3d;
  border-radius: 20px;
}

.pokemon-card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.front {
  background: var(--card-bg, #eee);
  border: 3px solid var(--card-border, #ccc);
  display: grid;
}

.back {
  border: 3px solid yellow;
  background: linear-gradient(135deg, #de3232, #a91c1c);
  transform: rotateY(180deg);
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 1rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 0.3);
}

/* Source - https://www.thecodingcouple.com/pokeball-single-div-css-drawing-tutorial/  */
.pokeball {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 0.4rem solid black;
  background-image:
    radial-gradient(
      white 20%,
      white 20%,
      black 20%,
      black 30%,
      transparent 30%,
      transparent
    ),
    linear-gradient(red 46%, black 46%, black 54%, white 54%);
}

.sprite {
  width: 200px;
  height: 200px;
  animation: up-down 3s ease-in-out 0s 0;
}

.sprite-container {
  text-align: center;
}

.id {
  color: rgb(0 0 0 / 0.7);
  margin-top: 0.75rem;
  font-size: 0.875rem;
}

.header,
.info {
  background: rgb(255 255 255 / 0.9);
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem;
}

.physical,
.types {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.physical {
  justify-content: space-evenly;
}

.physical > div > span:first-child,
.type {
  color: rgb(0 0 0 / 0.7);
  font-weight: bold;
}

.physical,
.type {
  font-size: 0.875rem;
}

.type {
  background: white;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  color: rgb(0 0 0 / 0.8);
}

.physical > div {
  display: flex;
  flex-direction: column;
}

.height,
.weight,
.stat {
  font-weight: bold;
}

.stats {
  font-size: 0.75rem;
}

.stats > div {
  display: flex;
  justify-content: space-between;
}

.stats span:first-child {
  color: rgb(0 0 0 / 0.7);
  font-family: monospace;
  font-weight: bold;
}

.name.long {
  font-size: 1rem;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
