* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  place-items: center;
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #357af3 0%, #225be4 100%);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  position: relative;
  display: grid;
  overflow-x: hidden;
  align-content: center;
}

form,
form > div {
  display: flex;
  flex-direction: column;
}

form {
  background: white;
  padding: 2rem;
  max-width: 90dvw;
}

form,
select,
input,
button {
  border-radius: 1rem;
}

form > p {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.65);
}

label {
  color: rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

form > div {
  margin-bottom: 2rem;
  gap: 0.5rem;
}

select,
input {
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

select,
input,
button {
  padding: 1rem;
  font-family: inherit;
}

label,
button {
  font-weight: bold;
}

button {
  border: none;
  background: linear-gradient(to right, #357af3 0%, #225be4 100%);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

select {
  background: inherit;
}

select:focus,
input:focus {
  outline-color: #357af3;
}

option {
  background-color: rgb(from var(--my-color) r g b / 0.4);
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0 0 0 / 0.7);
}

button:hover {
  transform: scale(1.05);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: none;
}

.pokemon-card-container {
  width: 300px;
  height: 400px;
  perspective: 600px;
}

.abs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotation-angle, 0deg));
  transform-origin: center 500px;
}

.pokemon-card {
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1.8);
  transform-style: preserve-3d;
  background: var(--card-bg, #eee);
  border: 3px solid var(--card-border, #ccc);
  border-radius: 20px;
}

.pokemon-card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.back {
  background: blue;
  transform: rotateY(180deg);
}

.sprite {
  width: 200px;
  height: 200px;
}
